{% extends "base.html" %}
{% block body %}

{% load pygmentize %}


<div class="vertical-center container-full">
<div class="container">
<div class="panel panel-default">
  <div class="panel-body">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#native" data-toggle="tab">Pretty</a></li>
      <li><a href="#raw" data-toggle="tab">Raw</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="native">
        {{ code.code|pygmentize|safe }}
      </div>
      <div class="tab-pane fade" id="raw">
        <pre>{{ code.code }}</pre>
      </div>
    </div>

  </div>
</div>
</div>
</div>

{% endblock %}
